
			*{
				padding: 0;
				margin: 0;
				list-style: none;
			}
			
			#box{
				width:310px;
				height:460px;
				border:1px solid #272c3d;
				margin: 100px auto;
				background: #272c3d;
				padding: 20px;
				box-shadow: 5px 5px 10px #000;
			}
			span:hover{
				cursor: pointer;
				background: #f60;
			}
			.item1{
				height:50px;
				color:#fff;
				font-size:30px;
				line-height: 50px;
			}
			.item2{
				height:30px;
				color:#598fff;
				font-size:14px;
				line-height: 30px;
			}
			.item3 {
				height:30px;
				color:#fff;
				font-size:14px;
				line-height: 30px;
			}
			.item3 p{
				float:left;
				
			}
			.item3 span{
				float:right;
				width:30px;
				height:30px;
				text-align: center;
			}
			#header{
				height:50px;
				
			}
			#header li{
				width:40px;
				height:50px;
				line-height: 50px;
				text-align: center;
				color:#fff;
				float:left;
			}
			#content li{
				width:40px;
				height:50px;
				line-height: 50px;
				color:#fff;
				text-align: center;
				float:left;
			}
			#content .over{
				color: #777;
			}
			#content .active{
				border: 1px solid #fff;
				width:40px;
				height:50px;
				box-sizing: border-box;
				background: #f60;
			}
		